<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <!--Brings in bootstrap-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>
<body>
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand">Book Store</div>
                <div class="col-6 text-right">
                    <vc:cart-summary />
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark text-white p-2" style="margin-right: 0px;">
        <span class="navbar-brand ml-2">Assignment 6 - Bookstore</span>
    </div>
    <div class="row m-1 p-1">
        <div class="col-4">

            <!--This figure displays the blockquote and caption-->
            <figure class="text-center">
                <blockquote>
                    <p class="display-4">Read the best books first, or you may not have a chance to read them at all.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <span style="font-size: 20px;">Henry David Thoreau</span>
                </figcaption>
            </figure>

            <!--Is grabbing the navigation menu view component-->
            <vc:navigation-menu />

        </div>

        <div class="col-8">
            <!--Brings in data from other pages (Index.cshtml)-->
            @RenderBody()
        </div>
    </div>



</body>
</html>
