@{
    ViewBag.Title = "View Books";
}

<!--Brings in the project list view model for this specific view-->
@model ProjectListViewModel


@foreach (var x in Model.Projects)
{
    //grabs book information from the BookSummary partial view
    <partial name="BookSummary" model="x" />
}


    
<!--Tells the div to go pass the PagingInfo template to the page-model-->
<div page-model="@Model.PagingInfo" page-action="Index" 
     page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1"></div>

